root{
    --cor-de-fundo: #1E1E1E;
    --verde: #6fff57;
    --Branco: white;
    --botao-ativo:v #3A375E;
    --botao-inativo: rgba(58,55,94,0,5);
    --texto-fundo: rgba(58,55,94,0,3);
    
}

body{
    bavkground-color: var(--cor-de-fundo);
    color:var(--branco);
    font-family: "Chakra Petch", sans-serof;
}
 conteudo-principaç{
    
 }